<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{88,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,172}}</string>
                <key>sourceSize</key>
                <string>{88,172}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,183},{75,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,178}}</string>
                <key>sourceSize</key>
                <string>{75,178}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,184}}</string>
                <key>sourceSize</key>
                <string>{74,184}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{79,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,174}}</string>
                <key>sourceSize</key>
                <string>{79,174}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{79,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,180}}</string>
                <key>sourceSize</key>
                <string>{79,180}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,178},{74,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,173}}</string>
                <key>sourceSize</key>
                <string>{74,173}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,353},{87,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,170}}</string>
                <key>sourceSize</key>
                <string>{87,170}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{78,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,179}}</string>
                <key>sourceSize</key>
                <string>{78,179}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,178},{72,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,165}}</string>
                <key>sourceSize</key>
                <string>{72,165}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{79,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,160}}</string>
                <key>sourceSize</key>
                <string>{79,160}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,83},{77,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,158}}</string>
                <key>sourceSize</key>
                <string>{77,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39f2b413077db228b9cfda9aa30ef957:1/1$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
